@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

/* Estilos generales */
* {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hero {
  background-color: #ffffff;
  background-image: url("../images/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 80px;
}

/* -------  Seccion de foto y elementos adicionales  ------- */
.hero-section-foto {
  margin-top: 50px;
  padding: 35px; 
  position: absolute;
  display: flex;

}

.absolute {
  position: absolute;
}

.user-image {
  padding: 1rem;
  border-radius: 100%;
  filter: grayscale(1);
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
}

.user-image img {
 z-index: -9;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

@keyframes scaleImage {
  0% {
    filter: grayscale(1);
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    filter: grayscale(0);
    box-shadow: 3px 3px 10px black;
  }

  100% {
    transform: scale(1);
    filter: grayscale(1);
  }
}

.icon-dots {
  z-index: 999;
  position:absolute;
  bottom: -1rem; 
  right: 0;
  animation-name: dotsAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.icon-cube {
  z-index: 999;
  top: -0.2em;  
  right: -0.0em;
  animation-name: cubeRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes cubeRotate {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-10px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

.icon-circle {
  z-index: 9;
  left: 0;
  bottom: 0;
  animation-name: shakeEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes shakeEffect {
  50% {
    left: 5%;
    bottom: 10%;
  }
}

.icon-zigzag {
  z-index: 9;
  top: 1.5em;
  left: -0.3em;
  animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 2%;
  }
}
.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;
  animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
  50% {
    top: 3%;
    left: 48%;
  }
}
/* ---- Fin de la seccion de foto y elementos adicionales ---- */

/* ---- Titulo del arpon ---- */
.hero__title {
  padding-top:90px ;
  margin-top: 20px; 
  font: normal 700 40px "Poppins", sans-serif;
  line-height: 52px;
  color: #172b4d;
}
/* ---- Fin del titulo del arpon ---- */

/* ---- Descripcion del chingon ---- */
.hero__description {
  margin-top: 12px;
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 24px;
  color: #172b4d;
  display: flex;
  align-items: center;
}
/* ---- Fin de la descripcion ---- */

/* ---- Area de pique ---- */
.llamada_accion {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-wrap: nowrap;
  margin-bottom: 85px;
}

/* ---- Boton del arpon ---- */
/* -- Estilos generales para el botón -- */
.btnfos {
  color: #000000;
  cursor: pointer;
  display: inline-flex; 
  justify-content: center; 
  text-decoration: none; 
  line-height: 45px;
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;
  position: relative;
  font: normal 500 16px "Poppins", sans-serif;
}

/* ---- Estilos específicos para btnfos-1 ---- */
.btnfos-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  font-weight: 100;
}

.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}

.btnfos-1 rect {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: #6070ff; 
  letter-spacing: 1px; 
  font-weight: 900; 
}

.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); 
}
/* ---- Fin del diseño del primer arpon ---- */

/* ---- Iconos de redes sociales ---- */
.hero_social {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  margin-bottom: 0; 
  text-decoration: none;
  line-height: 45px;
  position: relative;
}

.hero_link {
  margin-right: 20px;
}

/* --- DISEÑOS RESPONSIVOS --- */

/* Estilos para Macbook Air de 13 pulgadas */
@media only screen and (min-width: 1280px) {

  .hero {
    padding-left: 200px;
    padding-right: 200px;
    background-image: url("../images/header-bg.svg");
    background-size: cover;
    width: 100%;
    margin-top: 60px;
  }

  .hero_main{
    width: 50px;
  }

  .hero-section-foto {
    margin-top: 15px;
    padding: 5px; 
    position: absolute;
    display: flex;
  
  }

  .user-image img {
    z-index: -9;
     width: 235px;
     height: 235px;
     border-radius: 50%;
   }
   

  .hero__title {
    padding-top: 60px;
    margin-top: 10px; 
    font: normal 700 40px "Poppins", sans-serif;
    line-height: 52px;
    color: #172b4d;
  }

  .hero__description {
    margin-top: 15px;
    font: normal 400 16px "Poppins", sans-serif;
    line-height: 24px;
    color: #172b4d;
    display: flex;
    align-items: center;
    text-align: justify;
  }
}